%h2
	="#{@user.name}'s Account"

%table.table.table-striped
	%tr
		%td First Name
		%td= @user.first_name
	%tr
		%td Last Name
		%td= @user.last_name
	%tr
		%td Email address
		%td= @user.email
	%tr
		%td Password
		%td 
			= "********"
			=link_to "Change Password", edit_user_registration_path
	%tr
		%td Grade
		%td= @user.grade || "unknown"

%h3 My Completed Projects
- if @user.completed_projects.length > 0
	- @user.completed_projects.each do |cp|
		%table
			%tr
				%td= cp.project.name
			%tr
				%td
					Group included:
					- if cp.users.count > 1
						= cp.users.map(&:name).join(', ')
					- else
						just me!
			%tr
				%td
					= link_to(cp.url, cp.url)
- else
	%p Oh no! Looks like you haven't done anything yet
