%h2
	="#{@user.name}'s Account"

%table.table.table-striped
	%tr
		%td First Name
		%td= @user.first_name
	%tr
		%td Last Name
		%td= @user.last_name
	%tr
		%td Email address
		%td= @user.email
	%tr
		%td Password
		%td 
			= "********"
			=link_to "Change Password", edit_user_registration_path
	%tr
		%td Grade
		%td= @user.grade || "unknown"
