.row
	.col-sm-6
		%h1
			%img{src: "http://www.girlswhocode.com/images/logo.png"}
			at
			%img{src: "http://ih.constantcontact.com/fs042/1101586170917/img/243.jpg?a=1109178685625", style: "height: 98px; width: 80px"}

	.col-sm-6#auth-container
		- if current_user
			= link_to("My Account", user_path(current_user))
			|
			= link_to("Submit a Project", new_completed_project_path)
			|
			- if current_user.admin?
				= link_to("Attendance", attendance_path)
				|
				= link_to("Email Students", email_list_path)
				|
				= link_to("Admin", "/teacher")
				|
			= link_to("Log out", destroy_user_session_path, method: :delete)

		- else
			= link_to("Log In", new_user_session_path)