%h3 Attendance Summary:
%ul
	%li= "#{@n_students} total students"
	%li= "#{@n_latecomers} student(s) joined after the 1st meeting"
	%li= "#{@n_occasional} students have attended >= 50% of meetings"
	%li= "#{@n_frequent} students have attended >= 80% of meetings"
	%li
	%li= "#{@n_dropouts} student(s) have explicitly dropped out"
	%li= "#{@n_inactive} students have not technically dropped out, but have only attended 1 meeting"

- if @include_dropouts
	= link_to("Exclude Dropouts", attendance_path(include_dropouts: false))
- else
	= link_to("Include Droupouts", attendance_path(include_dropouts: true))
|
= link_to("Sort by # of classes", attendance_path(sort_by_attendance: true))

.table-responsive
	%table.table.table-striped	
		%thead
			%th Student
			- @meetings.each do |meeting|
				%th= link_to(meeting.starts_at.strftime("%b %d, %Y"), edit_meeting_attendance_path(meeting))
		- @users.each do |user|
			%tr
				%td
					= user.name
				- @meetings.each do |m|
					%td= user.present_at_meeting(m) ? 'Present' : '---'
		%tfoot
			%td Total Students Present:
			- @meetings.each do |meeting|
				%td= @attendance_records.where(meeting: meeting).count