= simple_form_for @completed_project do |f|
	.form-group
		= f.input :project_id, collection: Project.all, label: "Which project?"
		= f.input :url, label: "Link"
		= f.input :user1, collection: User.students, label: "Teammate 1"
		= f.input :user2, collection: User.students, label: "Teammate 2"
		= f.submit "Submit Project"