:erb
	<!DOCTYPE html>
	<html>
	<head>
	  <title>Gwc</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>

	</head>
	<body>

.container#header
	=render partial: "header"
.container
	.navbar.navbar-default#nav-menu
		.navbar-header
			%button{type: 'button', class: 'navbar-toggle', "data-target" => ".navbar-collapse"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a{class: 'navbar-brand'}
		.navbar-collapse.collapse
			%ul.nav.navbar-nav
				%li= link_to("Home", root_path)
				%li.dropdown
					%a{href: '#', class: "dropdown-toggle", "data-toggle" => "dropdown"} Schedule
					%ul.dropdown-menu
						%li=link_to("Complete Schedule", meetings_path)
						- Meeting.up_to_now.each do |m|
							%li= link_to("Class ##{m.ordinal}", meeting_path(m))
				%li.dropdown
					%a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown"} Projects
					%ul.dropdown-menu
						- Project.all.each do |p|
							%li= link_to("#{p.name}", project_path(p))
				%li= link_to("Code of Conduct", conduct_path)
				%li= link_to("Contact Us", contact_path)
.container
	.row
		.col-md-9#main
			.row
			- if flash[:notice]
				.alert.alert-info= flash[:notice]
			- if flash[:error]
				.alert.alert-danger= flash[:error]
			= yield

:erb
	</body>
	</html>
