:erb
	<!DOCTYPE html>
	<html>
	<head>
	  <title>Gwc</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= stylesheet_link_tag    "application", href: "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"%>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>

	</head>
	<body>

.container#header
	=render partial: "header"
.container
	.col-md-3#nav-menu
		%ul.nav.nav-pills.nav-stacked
			%li= link_to("Home", root_path)
			%li= link_to("Schedule", meetings_path)
			- Meeting.up_to_now.each do |m|
				%li.nested= link_to("Class ##{m.ordinal}", meeting_path(m))
			%li= link_to("Code of Conduct", conduct_path)
			%li= link_to("Contact Us", contact_path)


	.col-md-9#main
		= yield

:erb
	</body>
	</html>
